@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
main {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: hsl(244, 38%, 16%);
    border-radius: .5rem;
}

.left-box {
    position: absolute;
    width: 400px;
    height: 100%;
    /* background-color: aliceblue; */

}

.right-box {
    position: absolute;
    width: 400px;
    height: 100%;
    left: 50%;
    top: 0;
    overflow: hidden;
    background-image:  linear-gradient(rgba(117, 58, 255, 0.555), rgba(77, 38, 121, 0.562)), url(/images/image-header-desktop.jpg);
    border-radius: 0px 7px 7px 0px;
}
.title {
    position: relative;
    text-align: center;
    text-align: justify;
    margin: 60px;
    display: flex;
    flex-direction: column;
}
.title h1 {
    position: absolute;
    color: aliceblue;
    font-weight: 700;
    font-size: 25px;

}
.title span {
    color: hsla(277, 93%, 71%, 0.767);
}

.para {
    color: rgba(255, 255, 255, 0.808);
    padding: 30px;
    text-align: center;

}
.para p {
    font-size: 15px;
    text-align: start;
    margin-left: 30px;
    font-weight: 200;
    line-height: 1.6;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 15px;
}

.number .number-one {
    color: aliceblue;
    padding-right: 50px;
    font-size: 10px;

}
.number .number-two {
    color: aliceblue;
    padding-right: 70px;
    font-size: 10px;

}

.number .number-three {
    color: aliceblue;
    padding-right: px;
    font-size: 10px;
}